body    {
    background-color: #f3dfc8;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container  {
    width: 400px;
    border: 2px solid #2e2a35;
    border-radius: 20px;
    padding: 16px 18px 16px 16px;
    background: #494352;
    display: flex;
    flex-direction: column;
}

.display    {
    position: relative;
    height: 150px;
    width: 400px;
    font-size: 42px;
    text-align: center;
    background-color: #A4B4C0;
    border-radius: 8px;
    padding-right: 2px;
    box-shadow: inset 0px 1px 2px 1px #545c68;
}

button  {
    height: 100px;
    width: 100px;
    background: #CDA474;
    font-weight: 700;
    font-size: 40px;
    box-shadow: 0 3px #382c1f;
    border-radius: 6px;
}

.buttons    {
    display: flex;
    margin-top: 12px;
    gap: 2px;
}

#screen {
    position: absolute;
    bottom: 0;
    max-width: 370px;
    right: 0;
    margin: 0 20px 0 0;
    font-weight: 700;
}

#little-screen  {
    text-align: end;
    padding-right: 10px;
    font-size: 20px;
    margin-top: 50px;
}

#clear, #equal  {
    background-color: #D25454;
}

.spec   {
    background-color: rgb(93, 161, 90);
}

.operators  {
    background-color: rgb(105, 105, 156);
}
